@model List<TravelVM>

@{
    int numb = 0;
}
<a asp-contoller="travel" asp-action="create">Yeni Seyahet</a>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Olke</th>
                <th scope="col">Seher</th>
                <th scope="col">Baslangic Tarixi</th>
                <th scope="col">Bitis Tarixi</th>
                <th scope="col">Mebleg</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in @ViewBag.Travels)
                {
                    numb++;
                     <tr>
                        <td>@numb</td>
                        <td>@item.Country.Name</td>
                        <td>@item.City.Name</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.Fund</td>
                     </tr>
                }
        </tbody>
    </table>
</div>
